/* General styling */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #333;
  color: black;
}

/* Header styles */
header {
  background-color: #333;
  color: white;
  padding: 15px;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 10;
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

header nav ul li {
  display: inline;
  margin-right: 20px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* Parallax effect */
.parallax {
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.parallax-1 {
  background-image: url('American\ Flag.jpg');
}
.parallax-2 {
  background-image: url('Whitehouse\ Image.jpg');
}
.parallax-3 {
  background-image: url('Statue\ of\ liberty.jpg');
}

.parallax-democrats {
  background-image: url('pexels-aaron-hatton-58936-213407.jpg');
}

.parallax-republicans {
  background-image: url('pexels-thomas-shockey-14125561-8619113.jpg');
}

/* Overlay for parallax text */
.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
}

/* Content styles */
.content {
  padding: 50px;
  text-align: center;
  background-color: #333;
  color: white;
  max-width: 1400px;
  margin: 0px auto;
}

.content h2 {
  margin-bottom: 20px;
}

.content p {
  margin-bottom: 20px;
  line-height: 1.6;
}

/* Leader and emblem image styles */
.leader-image {
  width: 300px;
  margin: 20px;
  float: left;
  border-radius: 10px;
}

.emblem-image {
  width: 300px;
  margin: 20px;
  float: right;
  border-radius: 10px;
}

.content {
  padding: 50px;
  text-align: center; /* Adjust text alignment */
  background-color: #333;
  color: white;
  max-width: 1400px;
  margin: 0px auto;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.p2{
  text-align: center;
  line-height: 1.6;
  margin-bottom: 20px;
 
}


/* Footer styles */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: relative;
}
